.breadcrumb-item_clickable:hover {
    color: #1890ff;
    cursor: pointer;
}

.breadcrumb-item__permissions:hover {
    color: #1890ff;
    cursor: pointer;
}

.breadcrumb-item__permissions {
    margin-left: 5px;
}