.data {
    /* width: 100px; */
    height: 90px;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 255, 0);
    margin: 0 20px 20px 0;
}

.data:hover {
    border: 1px solid rgba(0, 0, 255, 0.4);
    background-color: rgba(230, 230, 230, 0.9);
}

.data .data__icon {
    font-size: 60px;
    color: #999;
}

.data .data__text {
    margin-top: 8px;
    color: #666;
    text-align: center;
}

.selected {
    background: rgba(230, 230, 230, 0.9);
}