html,
body,
#root,
section {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Avenirnext, sans-serif;
}

.app-header {
  background-color: transparent;
  color: rgba(216, 36, 36, 0);
  border-bottom: 1px solid #dde5ed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 77px;
}

.app-footer {
  background-color: hsla(273.75, 38.10%, 8.24%, 1.00);;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 77px;
}

.app-content {
  background-color: white;
}

/*.app-content-login {*/
  /*background-color: transparent;*/
  /*position: absolute;*/
  /*top: 0;*/
  /*bottom: 0;*/
  /*left: 0;*/
  /*right: 0;*/
  /*display: flex;*/
  /*justify-content: center;*/
  /*align-items: center;*/
/*}*/

.app-sidebar {
  background-color: transparent;
}

.holder {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1120px;
  width: 100%;
}

.flex-direction-column {
  flex-direction: column;
}

.flex-up {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.ff-rw {
  flex-flow: row wrap;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.transition {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.h100 {
  height: 100%;
}

.w40 {
  width: 40%;
}

.mr10 {
  margin-right: 10px;
}

.m20 {
  margin: 20px;
}

.mb20 {
  margin-bottom: 20px;
}

.f36 {
  font-size: 36px;
}

.button {
  background-color: transparent;
  font-size: 14px;
  color: hsla(223.2, 62.81%, 60.98%, 1.00);
  width: 200px;
  height: 40px;
}

.transition {
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}